streamlit==1.50.0
transformers==4.57.1
sentencepiece==0.2.1
torch==2.9.0
torchvision==0.24.0
torchaudio==2.9.0
scikit-image==0.25.2
pillow==11.3.0
matplotlib==3.10.7
huggingface-hub==0.35.3
safetensors==0.6.2